@charset "UTF-8";

body{
	font-family:roboto;
	color:#696969;
}

.tab {
	float: left;
	margin-left: -10px;
	margin-top: -10px;
	border: 0px solid #ccc;
	background-color: #FFFFFF;
	width: 24%;
	height: 1000px;
	box-shadow: 8px 0px 6px -6px #696969;
}

.centerFilter{
	font-size: 35px;
	color: #696969;
	font-family: roboto;
	font:bold;
	box-shadow: 0px 6px 6px -6px #696969;
	height:70px;
}

#filter{
	margin-left: 20px;
	margin-top: 15px;
}

#item{
	margin-left: 20px;
	margin-top: -28px;
	padding-bottom: -10px;
	font-size:25px;
	color: #696969;
	font-family: roboto;
}

#payment{
	margin-left: 20px;
	margin-top: 40px;
	padding-bottom: 20px;
	font-size:25px;
	color: #696969;
	font-family: roboto;
}

input[type=radio] {
	margin-top: -30px;
	padding-top: -60px;
	padding-left: 10px;
	font-size: 20px;
	margin-left: 13px;
	border: 1.5px solid #C0C0C0;
	padding: 0.5em;
	-webkit-appearance: none;
	border-radius: 5px;
}

input[type=radio]:checked {
  background-color: #C0C0C0;
  background-size: 9px 9px;
}

input[type=radio]:focus {
  outline-color: transparent;
}

input[type=submit] {
	border:0px white;
	box-shadow: 0px 1px 4px 0.5px #696969;
	font-size: 20px;
	color: #696969;
	margin-top: 340px;
	margin-left: 17px;
	height: 50px;
	width: 270px;
	border-radius: 25px;
	background-color: #ffffff;

}

.containerSearchPage {
	margin-left: 5%;
	padding-top: 1.5%;
}

.searchInput[type=text], select, textarea {
	
	border-radius: 12px;
	border: 0px white;
	background-color: #FFFFFF;
	width: 35%;
	height: 35px;
	padding: 12px;
	resize: vertical;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 2px 2px 5px 2px #696969;
	font-size: 17px;


}

.inputSearch[type=submit] {
	border-radius: 12px;
	border: 0px white;
	box-shadow: 2px 2px 5px 2px #696969;
	outline:none;
	float: left;
	color: white;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-color: white;
	height: 60px;
	width: 80px;
	font-size: 14px;

}
.img{
	margin-left: -550px;
	margin-top: 60px;
}

.vm-wrapper{
	margin-left: -100px;
	margin-top: 20px;
	float: left;
	margin-left: 5px;
	background-color: #FFFFFF;
	width: 24%;
	height: 1000px;

}

.vm-image{
	
	height:70%;
	width: 15%;
	padding-top: 10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
}
.inputImage{
	height: 35px;
	margin-top: auto;
}
.right{
	position: fixed;
	margin-left: 1100px;
	margin-top: -54px;
	font-size: 20px;
	
}
#title{
	margin-left: -300px;
	padding-top: 130px;
}
#nontitle{
	margin-left: -300px;
	font-size: 18px;
}
#reviewUser{
	margin-left: -280px;
	font-size: 18px;
	
}
#reviewText{
	margin-left: -280px;
	font-size: 18px;
	font-weight: normal;
}

.link {
	padding-top:100px;
	text-align:center;
	font-size: 19px;
	vertical-align: middle;
	text-decoration: none;
	color:black;
}
.review{
	margin-left: 0px;
	margin-top: -100px;
	font-size: 15px;
	background-color: white;
	border: 0px white;
	color:#696969;
}
.reviewbutton{
	border-radius: 25px;
	border: 0px white;
	background-color: #FFFFFF;
	width: 35%;
	height: 35px;
	padding-top: 10px;
	
	resize: vertical;
	float: left;
	margin-left: -480px;
	margin-top: -280px;
	box-shadow: 2px 2px 5px 2px #696969;
	font-size: 17px;
	color: #696969;
	
	text-align:center;
	font-size: 19px;
	vertical-align: middle;
	text-decoration: none;
	color: black;
}
.formReview{
	position: fixed;
	margin-top: 30px;
	margin-left: -110px;
}
.rater{
	border: 0px;
}

.loginRegister{
	
	border-radius: 25px;
	border: 0px white;
	background-color: #FFFFFF;
	width: 35%;
	height: 35px;
	padding-top: 10px;
	
	resize: vertical;
	float: left;
	margin-left: 5%;
	margin-right: 2%;
	box-shadow: 2px 2px 5px 2px #696969;
	font-size: 17px;
	color: #696969;
	
	text-align:center;
	font-size: 19px;
	vertical-align: middle;
	text-decoration: none;
	color: black;
}

.headerHome{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: baseline;
}


.profile{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 15%;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 5%;
}